// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

// BODY
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, p, span {
    color: $brand_text_color;
    
}

// WRAPPER WIDTH 80%
.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

// HR

.hr {
    border-bottom: 1px solid $brand_hr;
    width: 80%;
    margin: auto;
}

//JUMBOTRON
.jumbotron {
    display: flex;
}

// BUTTONS
button {
    color: white;
    background-color: $brand_button_color;
    padding: 6px 7px;
}

// IMG

img {
    width: 100%;
}

// DISPLAY BLOCK

#block {
    display: block;
}

// SECTION WITH BACKGROUND

.with_bg {
    background-color: $brand_section_background_color;
    display: flex;
    flex-direction: column;
        h1, h3 {
            text-align: center;
            color: $brand_text_color;
            padding: 35px 0;
        }
}

.three_pics {
    display: flex;
    justify-content: space-around;  
}

.three_pics img {
    width: 100px ;
    height: 100px;
    object-fit: contain;
}

.central_pic {
    width: 250px;
    height: auto;
    align-self: center;
    padding: 80px 0;
}

// SECTION WITH 2 COLUMNS

.two-cols {
    display: flex;
    padding-top: 30px;
}

.text {
    color: $brand_text_color;

    h3, p, a {
        padding: 20px 0;
    } 

    p {
        width: 40%;
    }

    a {
        text-decoration: none;
        color: #7171aa;
    }
}

.draw {
    img {
        width: 40%;
        height: auto;
        padding-top: 50px;
    }
}

.left-sect.align-right {
    transform: translate(60%, 0);
}
