// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// BODY
body {
    font-family: 'Source Sans Pro', sans-serif;
}

// WRAPPER WIDTH 80%
.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

// HR

hr {
    color: #584441;
    width: 80%;
    margin: auto;
}

//JUMBOTRON
.jumbotron {
    display: flex;
}

// IMG

img {
    width: 100%;
}

// DISPLAY BLOCK

#block {
    display: block;
}

// SECTION WITH BACKGROUND

.with_bg {
    background-color: $brand_section_background_color;
    display: flex;
    flex-direction: column;
        h3 {
            text-align: center;
            color: $brand_text_color;
            padding: 35px 0;
        }
}

.three_pics {
    display: flex;
    justify-content: space-around;  
}

.three_pics img {
    width: 100px ;
    height: auto;
}

.central_pic {
    width: 250px;
    height: auto;
    align-self: center;
    padding: 80px 0;
}