.wrapper {
    
    .logo {
        img {
            width: 150px;
        }
        padding-top: 15px;
    }

    .burger {
        opacity: 0;
        padding-top: 30px;
        color: $brand_text_color;
        font-size: 20px;
    }
    
    nav {
        align-self: center;
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                padding: 0 10px;
                
                a {
                    color: $brand_text_color;
                    text-decoration: none;
                }
            }
        }
    }
}